#tab-1:checked ~ #content-1,
#tab-2:checked ~ #content-2,
#tab-3:checked ~ #content-3,
#tab-4:checked ~ #content-4,
#tab-5:checked ~ #content-5 {
    display: block;
    animation: 0.25s ease;
}

.ripple-effect {
  position: relative;
  overflow: hidden;
  -webkit-transform: translatez(0);
}
.ink {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  transform: scale(0);
}
.ink {
  background: #fff;
  opacity: 1;
}
.ink.animate {
  -webkit-animation: ripple-effect 0.5s linear;
  -o-animation: ripple-effect 0.5s linear;
  animation: ripple-effect 0.5s linear;
}

@keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-webkit-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-moz-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-ms-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-o-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}

section.tab-box{
    display: flex;
    flex-wrap: wrap;
}

section.tab-content {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input.tab-titles {
  display:inline;
  width: 0;
  height: 0;
  margin: 0;
}

label.tab-title-names {
  flex-shrink: 1;
  flex-grow: 1;
  display: inline-block;
  margin: -3px -3px -1px;
  padding: 1.25rem 0.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(248,248,253,0.875);
  border: 1px solid transparent;
  transition: 0.25s ease;
  box-shadow: 0em -0.5em 0.75em rgba(50,50,50,0.075);
}

label.tab-title-names:hover {
  color: #888;
  cursor: pointer;
}

label.tab-title-names:nth-of-type(1){
    background-color: #8BA0BC;
}
label.tab-title-names:nth-of-type(1){
    border-top-left-radius: 4px;
}
label.tab-title-names:nth-last-of-type(1){
    border-top-right-radius: 4px;
}
label.tab-title-names:nth-of-type(2){
    background-color: #738DAE;
}
label.tab-title-names:nth-of-type(3){
    background-color: #5C7AA1;
}
label.tab-title-names:nth-of-type(4){
    background-color: #456794;
}
label.tab-title-names:nth-of-type(5){
    background-color: #2E5486;
}
label.tab-title-names:nth-of-type(6){
    background-color: #174179;
}

input.tab-titles:checked + label.tab-title-names {
  color: #555;
  background: white;
  border-bottom: 1px solid rgba(255,255,255,0);
  transition: 0.25s ease;
}

@media screen and (max-width: 767px) {
    section.tab-box{
        flex-direction: column;
    }
    label.tab-title-names:nth-of-type(1){
        border-top-left-radius: unset;
    }
    label.tab-title-names:nth-last-of-type(1){
        border-top-right-radius: unset;
    }
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
    label.tab-title-names{
        font-size: 0.85rem;
    }
}