input.search{
    border: none;
    background-color: rgba(233,233,240,1);
    border-radius: 4px;
    min-width: 200px;
    max-width: 70vw;
    padding: 0.5em;
    color: rgba(33,33,41,0.8);
    transition: 0.25s ease;
    font-family: FontAwesome, Open Sans, sans-serif;
}
input.search:focus{
    background-color: rgba(247,247,250,1);
    color: rgba(30,30,38,1);
}
input.search::input-placeholder {

}